@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


:root {
    --close: #ff6159;
    --minimize: #ffbd2e;
    --maximize: #28c941;
    --bg: #d2d2d2;
    --header-bg: #272822;
    --fg: #fff;
    --radius: 6px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #ff914d 0%, #004AAD 100%);
    font-family: monospace;
}

.spacer {
    flex: 1;
}

.snippet-container {
    position: absolute;
    min-width: 500px;
    background-color: var(--header-bg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 8px 21px -4px rgba(0,0,0,0.41);
    -webkit-box-shadow: 0px 8px 21px -4px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 8px 21px -4px rgba(0,0,0,0.41);
    border-radius: 8px;
    overflow: hidden;
}

.snippet-header {
    height: 50px;
    background-color: var(--header-bg);
    color: var(--fg);
    padding: 2px 18px;
    display: flex;
    flex-direction: row;
}

.snippet-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.snippet-stoplights {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex: 1;
}

.stoplight {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #000;
    margin-right: 8px;
    border-radius: 50%;
}

.stoplight-close {
    background-color: var(--close);
}

.stoplight-minimize {
    background-color: var(--minimize);
}

.stoplight-maximize {
    background-color: var(--maximize);
}

/* .CodeMirror { */
/*     resize: vertical; */
/*     overflow: auto !important; */
/* } */
