@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.min.css');

:root {
    --close: #ff6159;
    --minimize: #ffbd2e;
    --maximize: #28c941;
    --bg: #d2d2d2;
    --header-bg: #272822;
    --fg: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Hack', sans-serif;
    background-color: var(--header-bg);
}

header {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px 40px;
    color: var(--fg);
}

#download {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #fff;
    color: #ff914d;
    border: 1px solid #ff914d;
    cursor: pointer;
}

.spacer {
    flex: 1;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.snippet-wrapper {
    width: 650px;
    padding: 56px;
    background:linear-gradient(140deg, rgb(165, 142, 251), rgb(233, 191, 248));
}

.snippet-container {
    background-color: var(--header-bg);
    box-shadow: 0 20px 68px rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    overflow: hidden;
}

.snippet-header {
    height: 50px;
    background-color: var(--header-bg);
    color: var(--fg);
    padding: 2px 18px;
    display: flex;
    flex-direction: row;
}

.snippet-title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    cursor: text;
    outline: none;
}

.snippet-stoplights {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex: 1;
}

.stoplight {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #000;
    margin-right: 8px;
    border-radius: 50%;
}

.stoplight-close {
    background-color: var(--close);
}

.stoplight-minimize {
    background-color: var(--minimize);
}

.stoplight-maximize {
    background-color: var(--maximize);
}

.snippet-editor {
    padding: 0 16px 16px;
}

.CodeMirror {
    font-family: 'Hack', monospace;
    font-size: 14px;
    height: auto;
}
