@import url('https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.min.css');

:root {
    --snippet-bg: #272822;
    --close: #ff6159;
    --minimize: #ffbd2e;
    --maximize: #28c941;
    --bg: #ffffff;
    --fg: #ffffff;
    --primary: #a58efb;
    --primary1: #e9bff8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Hack', sans-serif;
    background-color: --var(--bg);
}

header {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 auto;
    padding: 10px 0px;
    color: var(--fg);
    width: 650px;
}

#download {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--primary);
    font-weight: bold;
    border: 1px solid var(--primary);
    cursor: pointer;
}

#download:hover {
    background-color: var(--primary);
    color: var(--fg);
}

.spacer {
    flex: 1;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
}

h1 {
    color: var(--primary);
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}

.snippet-wrapper {
    width: 650px;
    padding: 56px;
    background: linear-gradient(140deg, var(--primary), var(--primary1));
    border: 2px solid var(--fg);
}

.snippet-container {
    background-color: var(--snippet-bg);
    box-shadow: 0 20px 68px rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    overflow: hidden;
}

.snippet-header {
    height: 50px;
    background-color: var(--snippet-bg);
    color: var(--fg);
    padding: 2px 18px;
    display: flex;
    flex-direction: row;
}

.snippet-title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    cursor: text;
    outline: none;
}

.snippet-stoplights {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    flex: 1;
}

.stoplight {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 50%;
}

.stoplight-close {
    background-color: var(--close);
}

.stoplight-minimize {
    background-color: var(--minimize);
}

.stoplight-maximize {
    background-color: var(--maximize);
}

.snippet-editor {
    padding: 0 16px 16px;
}

.CodeMirror {
    font-family: 'Hack', monospace;
    font-size: 14px;
    height: auto;
}
